@tailwind base;
@tailwind components;
@tailwind utilities;

.message-content pre {
    @apply bg-stone-200 p-2 rounded overflow-x-auto max-w-full;
}

.message-content ol {
    @apply flex flex-col gap-1;
}

.message-content table {
    @apply overflow-x-auto whitespace-nowrap max-w-prose block p-2;
}

.message-content th {
    @apply p-2 border bg-stone-200 border-stone-300 font-medium;
}

.message-content td {
    @apply p-2 border border-stone-200;
}

/* Style the entire scrollbar */
::-webkit-scrollbar {
    height: 6px; /* Height of the horizontal scrollbar */
    width: 6px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1px; /* Rounded corners of the handle */
}

/* Style the handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


